<header>
  <nav>

    <div id="burger-menu">
      <div id="openBtn" class="burger-icon">     
        <div></div>
        <div></div>
        <div></div>   
      </div>

      <div id="mySidenav" class="sidenav">
        <a id="closeBtn" href="#" class="close">×</a>
        <ul>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Nos services</a></li>
          <li><a href="#">Témoignages</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      
    </div>  

    <div id="desktop-menu">
      <ul>
        <li class="menu-deroulant">
          <a href="#">Services</a>
          <ul class="sous-menu">
            <li><a href="#">Graphisme</a></li>
            <li><a href="#">Web & App</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">Réalisations</a>
          <ul class="sous-menu">
            <li><a href="#">SpaceX</a></li>
            <li><a href="#">Codeur.com</a></li>
          </ul>
        </li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contactez-nous</a></li>
      </ul>
    </div>
  </nav>
</header>