

* {
  box-sizing: border-box;
  }
  
  body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }
  
/*
body {
  height: 100vh;
}*/

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.nav-link {
  font-size: 2em;
  color: black;
}

