
* {
  box-sizing: border-box;
}
  
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* To set the position absolute to footer */
  position: relative;
  /* height: 1000px; */
}
  
main {
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../img/baby.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
  font-size: 1.7em;
  color: white;
}

#logo {
  position: absolute;
  bottom: 3%;
  left: 5%;
  border: 1px solid black;
}

/*
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
*/

@media screen and (min-width: 700px) {
  main {
    height: 80vh;
  }
 
  h1 {
    font-size: 3em;
  }

  #logo {
    position: absolute;
    bottom: 5%;
    left: unset;
    border: 1px solid black;
  }
}




@media screen and (min-width: 992px) {
  
}